<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Angular2TypeScriptWebpack - <%= htmlWebpackPlugin.options.ejs.environment %></title>
</head>
<body>
<cut-app>Loading...</cut-app>
<script type="text/javascript" src="./cordova.js"></script>
</body>
</html>